.quest-thumbnail {
    font-size: 36px;
}

.quest-card {
    max-width: 400px;
}

.quest-card-content-item {
    margin-right: 15px;
}

.header-image {
    background-image: url("http://cdn.onlinewebfonts.com%2Fsvg%2Fdownload_136260.png&f=1&nofb=1");
    background-size: cover;
}
