<mat-card class="quest-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="quest-thumbnail">grade</mat-icon>
    </div>

    <mat-card-title>{{ quest.title }}</mat-card-title>
    <mat-card-subtitle>Quest</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image class="quest-image" [src]="questThumbnail"> -->
  <mat-card-content>
    <p>
      {{ quest.description }}
    </p>

  </mat-card-content>

  <div>
    <span class="quest-header2">Követelmények</span>
    <mat-list>
      <mat-list-item class="requirement-or-reward" *ngFor="let requirement of quest.requirements; let i = index">
        <requirement [requirement]="requirement"></requirement>
        <mat-divider *ngIf="i < quest.requirements.length - 1"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div>
    <span class="quest-header2">Jutalmak</span>
    <mat-list>
      <mat-list-item class="requirement-or-reward" *ngFor="let requirement of quest.rewards; let i = index">
        <requirement [requirement]="requirement"></requirement>
        <mat-divider *ngIf="i < quest.requirements.length - 1"></mat-divider>
      </mat-list-item>
    </mat-list>

  </div>
  
<div class="quest-timings">  
  <cooldown class="quest-card-content-item" [cooldown]="quest.cooldown" [maticon]="'timelapse'"
    [tooltip]="'Cooldown: Teljesítés után mennyi idő múlva lehet újra felvenni'"></cooldown>
  <cooldown class="quest-card-content-item" [cooldown]="quest.expiration" [maticon]="'hourglass_empty'"
    [tooltip]="'Expiration: Elfogadás után mikor jár le'"></cooldown>
</div>

  <!-- <location [location]="quest.location"></location> -->


  <!--       
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
</mat-card>