.quest-header2 {
    font-size: larger;
}

.quest-thumbnail {
    font-size: 36px;
}

.quest-image {
    text-align: center;
    justify-content: center;
    //max-width: 200px;
}

.quest-card {
    max-width: 300px;
}

.quest-card-content-item {
    margin-top: 50px;
    margin-right: 15px;
}

.header-image {
    background-image: url("http://cdn.onlinewebfonts.com%2Fsvg%2Fdownload_136260.png&f=1&nofb=1");
    background-size: cover;
}